body{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 23px;
}
a{
  text-decoration: none;
}
.wrapper{
    width: 960px;
    margin: 0 auto;
    min-height: 100vh;
}
.header,.footer
{
    align-items: center;
    display: flex;
    justify-content: center;
    color:#fff;
    text-align: center;
    min-height: 50px;
    background-color: rgb(47, 123, 216);
}
.content{
    min-height: 80vh;
}
ul.main-menu{
    display: flex;
    text-align: center;
    justify-content: center;
}
ul.main-menu li{
    margin: 10px;
}
ul.main-menu li a {
    display: block;
    padding: 8px 15px;
    color: #fff;
}
